@charset "UTF-8"
@font-face
	font-family "clubar"
	src url("../fonts/clubar.eot")
	src url("/fonts/clubar.eot?#iefix") format("embedded-opentype"),
    url("../fonts/clubar.woff") format("woff"),
    url("../fonts/clubar.ttf") format("truetype"),
    url("../fonts/clubar.svg#clubar") format("svg")
	font-weight normal
	font-style normal

[data-icon]:before
	font-family "clubar" !important
	content attr(data-icon)
	font-style normal !important
	font-weight normal !important
	font-variant normal !important
	text-transform none !important
	speak none
	line-height 1
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

[class^="cb-"]:before,
[class*=" cb-"]:before
	font-family "clubar" !important
	font-style normal !important
	font-weight normal !important
	font-variant normal !important
	text-transform none !important
	speak none
	line-height 1
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
.cb
	font-family "clubar"
	
.cb-profile
	&:before
		content "\70"

.cb-pin
	&:before
		content "\64"

.cb-explore
	&:before
		content "\65"

.cb-trending
	&:before
		content "\74"

.cb-star
	&:before
		content "\73"

