header
	#masthead
		background $black-trans
		height 65px
		width 100%
		position fixed
		z-index 999
		
		ul
			margin 0
			padding 0

			li
				list-style-type none
				display inline-block
				width 50px
				height	65px
				
				i:before						
					font-size 2rem
					background linear-gradient($green, $blue)
					-webkit-background-clip text
					-webkit-text-fill-color transparent  
				ul
					display none
				&.active
					background $darkgrey
									
	#logo
		height 30px
		width auto
		margin 17px 0 0 0 

	#search
		height 40px
		margin-top 15px

		input
			width 100%
			background $darkgrey
			border none
			outline none
			font-weight bold
			color $lightgrey
			padding 5px 40px 5px 20px
			border-radius $outer-radius
			font-size 1.1rem
			box-sizing border-box

			&::-webkit-input-placeholder
				color $darkgray

#banner
	background #151515 url(http://image.shutterstock.com/z/stock-photo-concert-disco-party-people-with-hands-up-having-fun-in-night-club-lights-vintage-mood-260562557.jpg) no-repeat center center
	background: #3DC195 url("http://www.thirtythree.co.uk/themes/thirty_three/assets/img/pattern_2_purple.png") no-repeat center center;
	background: #9A1048 url("http://www.thirtythree.co.uk/themes/thirty_three/assets/img/pattern_2_purple.png") no-repeat center center;
	background-size cover
	text-align center
	padding-top 65px
	.shadow
		padding 50px 0
		//background linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%)

		h1
			font-size 2.6rem
			color white


#filter
	background white
	border-bottom 1px solid $border
	min-height 60px
	nav
		ul
			list-style none
			padding 0
			margin 10px 0
			height calc(100% - 20px)
			overflow auto

			li
				border-left 1px solid #e0e0e0
				cursor pointer
				&:first-child
					border none

				a
					margin -10px 0 -10PX 0
					padding 20px
					display block
					color $grey
					font-weight bold

					&:hover
						text-decoration none

