$green = #40BA76
$blue = #28b0e7
$yellow = #e8be17
$black = #1B1B1B
$black-trans = rgba(27, 27, 27, 0.95)
$darkgrey = #2F2F2F
$darkgray = #5A5A5A
$grey = #404040
$lightgrey= #E6E6E6
$border = #DEDEDE
$outer-radius = 4px
$inner-radius = 3px
