extends layout

block content
	header
		#masthead
			.container-fluid
				.row
					.logo.col-sm-2.col-xs-6.text-left
						img(src='/images/logo.svg')#logo
					.col-sm-8.hidden-xs
						#search
							input(type='search', placeholder='Search for Clubs and Bars...')
					.col-sm-2.col-xs-6
		
	section#banner
		.shadow
			.container-fluid
				.row
					.col-md-12
						h1= title
	#filter
		.container-fluid
			.row
				.col-md-12
					nav
						ul
							li.col-sm-4
								a When
							li.col-sm-4
								a Where
							li.col-sm-4
								a What
	article#page.container-fluid
		div#rolodex.row(role="list")
			.col-xl-3.col-lg-4.col-md-6.col-sm-12
				.card(role="listitem")
					.card-image
					.card-notice
						.time.open Open for 2 hours
					.card-info
						h1 Patterns
						.card-info-data
							.pill.left.pill-icon.pull-left 5m
								i.cb.cb-pin 
							.pill.right.pull-right  &pound;3.00
						h2 Patterns with Giles Peterson
			.col-xl-3.col-lg-4.col-md-6.col-sm-12
				.card(role="listitem")
					.card-image
					.card-notice
						.time.open Open for 2 hours
					.card-info
						h1 Patterns
						h2 Patterns with Giles Peterson
			.col-xl-3.col-lg-4.col-md-6.col-sm-12
				.card(role="listitem")
					.card-image
					.card-notice
						.time.open Open for 2 hours
					.card-info
						h1 Patterns
						h2 Patterns with Giles Peterson
			.col-xl-3.col-lg-4.col-md-6.col-sm-12
				.card(role="listitem")
					.card-image
					.card-notice
						.time.open Open for 2 hours
					.card-info
						h1 Patterns
						h2 Patterns with Giles Peterson
			.col-xl-3.col-lg-4.col-md-6.col-sm-12
				.card(role="listitem")
					.card-image
					.card-notice
						.time.open Open for 2 hours
					.card-info
						h1 Patterns
						h2 Patterns with Giles Peterson
			.col-xl-3.col-lg-4.col-md-6.col-sm-12
				.card(role="listitem")
					.card-image
					.card-notice
						.time.open Open for 2 hours
					.card-info
						h1 Patterns
						h2 Patterns with Giles Peterson